@import "/src/styles/variables/global.scss";

.pagination {
  text-align: center;

  a {
    display: inline-block;
    width: 32px;
    line-height: 48px;
    text-align: center;
    text-decoration: none;
    color: $text-primary;
  }
  a:hover {
    background-color: $button-primary-bg-hover;
    color: $text-primary;
  }

  a.disabled,
  a.disabled:hover {
    background-color: $button-primary-bg-disabled;
  }

  a.currentPage {
    background-color: $button-primary-bg;
    color: $button-primary-text;
  }
  a * {
    vertical-align: middle;
  }
}
