@import "/src/styles/variables/global.scss";

@mixin loaderSize($size, $borderWidth, $margin) {
  width: $size;
  height: $size;
  border-width: $borderWidth;
  margin-top: $margin;
  margin-left: $margin;
}

.loader {
  display: inline-block;
  border-style: solid;
  border-color: $brand;
  border-radius: 50%;
  border-top-color: transparent;
  transform: rotate(125deg);

  &_l {
    @include loaderSize($size: 40px, $borderWidth: 5px, $margin: 10px);
  }
  &_m {
    @include loaderSize($size: 32px, $borderWidth: 4px, $margin: 8px);
  }

  &_s {
    @include loaderSize($size: 16px, $borderWidth: 2px, $margin: 4px);
  }

  &_white /*loader in button*/ {
    @include loaderSize($size: 16px, $borderWidth: 2px, $margin: 4px);
    border-color: white;
  }
}
