
.input, .input+div{
  background-color: white;
  width:300px;
  height:52px;
  border:1px solid white;
    font-size: 16px;
    outline: none;
  padding-left: 10px;

}


.input:focus, .input:focus+div{
  border:1px solid var(--input-border-focus);
}

.inputLoading{
  border-right-width: 0px;
}

.inputLoading+div{
  border-left-width: 0px;
  display: inline-block;
  width:auto;
  vertical-align: top;
}

.inputLoading+div+div{
  margin-top: "16px";
   margin-right: "5px"
}


