@import "/src/styles/variables/global.scss";

.button {
  height: 52px;
  background-color: $button-primary-bg;
  border: none;
  color: $button-primary-text;
  font-size: 18px;
  padding-left: 20px;
  padding-right: 20px;
}

.button:focus {
  background-color: $button-primary-bg-active;
}

.button:hover {
  background-color: $button-primary-bg-hover;
}

.withloader:focus {
  background-color: $button-primary-bg;
}

.withloader:hover {
  background-color: $button-primary-bg;
}

.button:disabled,
.withloader:disabled {
  background-color: $button-primary-bg-disabled;
}

.fakeDisabled:disabled {
  background-color: $button-primary-bg;
}
