.card{
  display: block;
  background-color: white;
  width: 349px;
  font-family: 'Roboto', Helvetica, sans-serif;
}
.card img{
  background-color: #D9D9D9;
}

.card:hover{
  box-shadow: 0px 4px 9px 0px #00000040;
}

.card_white{
  background-color: white;
  width:100%;
  padding:10px;
  padding-top: 20px;
}  
