@import "/src/styles/variables/global.scss";

.card {
  display: block;
  background-color: $card-bg;
  width: 349px;
  margin-bottom: 30px;
  transition: transform 0.2s; /* Animation */
}

.card:hover {
  @include shadow();
  transform: scale(1.02);
}

.card img {
  background-color: $card-image-bg;
}

.actionSlot {
  display: inline-block;
}

.bottomContainer {
  display: flex;
  justify-content: space-between;
  margin-top: 19px;
  margin-bottom: 14px;
}

.bottom {
  display: inline-block;
  margin: auto;
  margin-left: 7px;
}

.title {
  margin-bottom: 7px;
  margin-top: 7px;
}

.card_white {
  padding: 10px;
  padding-top: 20px;
}
