@import "/src/styles/variables/global.scss";

.droplistInput {
  background-color: $dropdown-options-bg;
  width: 300px;
  height: 52px;
  border: 1px solid $dropdown-options-bg;
  font-size: 16px;
  outline: none;
  padding-left: 10px;
  border-right: none;
}

.inputIcon {
  background-color: $dropdown-options-bg;
  border-left-width: 0px;
  display: inline-block;
  vertical-align: top;
  height: 56px;
}

.inputIcon * {
  margin-top: 15px;
}

.droplist {
  @include shadow();
  border: none;
  margin-top: 9px;
  display: block;
  background-color: $dropdown-options-bg;
  height: auto;
  width: 367px;
  z-index: 4;
}

.droplist div {
  padding: 14px;
  color: black;
  padding-bottom: 15px;
}
/* это пустой элемент, чтобы выдрать его и сбросить фильтр*/
.droplist div:first-child {
  background-color: #d9d9d9;
}

.droplist div:hover {
  color: #afadb5;
}
.droplist div.itemSelected {
  color: $brand;
}
