.droplist{
  border:none;
  margin-top: 9px;
display: block;
background-color: white;
box-shadow: 0px 4px 10px 0px #00000040;
height:auto;
width:367px
}


.droplist div
{
  padding:14px;
  color:black;
  padding-bottom:15px;
}
.droplist div:last-child
{
  padding-bottom:14px;
}

.droplist div:hover
{
  color:#AFADB5;
}
.droplist div.itemSelected
{
  color:#518581;
}
