@import "/src/styles/variables/global.scss";

.pagination {
  text-align: center;

  button,
  span {
    display: inline-block;
    width: 32px;
    line-height: 48px;
    text-align: center;
    text-decoration: none;
    color: $text-primary;
    margin-right: 5px;
    margin-left: 5px;
    outline: none;
    border: none;
  }
  button:hover {
    background-color: $button-primary-bg-hover;
    color: $text-primary;
  }

  button.disabled,
  button.disabled:hover {
    background-color: $button-primary-bg-disabled;
  }

  button.currentPage {
    background-color: $button-primary-bg;
    color: $button-primary-text;
  }
  button * {
    vertical-align: middle;
  }
}
