@import "/src/styles/variables/global.scss";

.icon {
  stroke: $text-primary;

  .primary {
    stroke: $text-primary;
  }

  .accent {
    stroke: $text-accent;
  }

  .secondary {
    stroke: $text-secondary;
  }
}
